/* Form container */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 10px 10px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/* Styling for labels */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Form inputs */
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Login Button */
button {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
}

.login-btn:hover {
    background-color: #45a049;
}

/* ensure responsive */
@media screen and (max-width: 600px) {
    form {
        max-width: 90%;
    }
}